/* Fonts imported in index.html */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-dark text-light font-sans antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading font-bold;
    }
}